{{define "pagination"}}

{{if gt .Pagination.TotalPages 1}}

<nav class="pagination">

    <div class="pagination-content">

        <div class="pagination-left">

            {{if .Pagination.HasPrev}}

                <a
                    class="btn btn-secondary"
                    href="/dashboard?page={{sub .Pagination.CurrentPage 1}}&service={{.Filters.Service}}&level={{.Filters.Level}}&search={{.Filters.Search}}">

                    ← Previous

                </a>

            {{end}}

        </div>

        <div class="pagination-center">

            <span>

                Page
                <strong>{{.Pagination.CurrentPage}}</strong>

                of

                <strong>{{.Pagination.TotalPages}}</strong>

            </span>

        </div>

        <div class="pagination-right">

            {{if .Pagination.HasNext}}

                <a
                    class="btn btn-secondary"
                    href="/dashboard?page={{add .Pagination.CurrentPage 1}}&service={{.Filters.Service}}&level={{.Filters.Level}}&search={{.Filters.Search}}">

                    Next →

                </a>

            {{end}}

        </div>

    </div>

</nav>

{{end}}

{{end}}
