
{{define "stats"}}

<section class="stats">

    <div class="section-header">

        <h2>Overview</h2>

    </div>

    <div class="stats-grid">

        <div class="stat-card">

            <span class="stat-title">
                Total Logs
            </span>

            <span class="stat-value">
                {{.Stats.TotalLogs}}
            </span>

        </div>

        <div class="stat-card">

            <span class="stat-title">
                Services
            </span>

            <span class="stat-value">
                {{.Stats.TotalServices}}
            </span>

        </div>

        <div class="stat-card">

            <span class="stat-title">
                Error Logs
            </span>

            <span class="stat-value">
                {{.Stats.ErrorLogs}}
            </span>

        </div>

    </div>

</section>

{{end}}

